{% extends "base.html" %}

{% block title %}검색 페이지{% endblock %}

{% block content %}
<div id="content">
    <h1> Blog Search Engine</h1>
    <form action="" method="POST">
        <!-- CSRF 검증에 실패했습니다. -->
        <!-- Cross-site request forgery -->
        {% csrf_token %}
        {{ form.as_talbe }}
        <input type="text" name="search_word" value="{{ search_word }}">
        <input type="submit" value="Search">
    </form>
    <br/><br/>
    {% if search_list %}
        {% for post in search_list %}
            <h3>{{ post.title }}</h3>
            <tr>{{ post.modify_date|date:'Y. m. d' }}</tr>
            <br/><br/>
        {% endfor%}
    {% elif search_keyword %}
        '{{ search_keyword }}'의 검색 결과가 없습니다.
    {% endif%}
</div>
{% endblock %}